* {
  box-sizing: border-box;
}

body
{
  font-family:Verdana;
}
.header
{
    position:fixed;
      background-color: rgba(255, 255, 255, 0.2);
    padding:15px;
    text-align:center;
    height: 120px ;
    width: 100%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header h1
{
  font-family:sans-serif;
  font-weight: lighter;
  font-size: 40px;
}





.header a:hover {
  background-color: #ddd;
  color: black;
}


.header a.active {
  background-color: red;
  color: white;
}


.header-right {
  margin-top: -50px;
  float: right;
}

.menu {

  margin-top:120px;
  padding: 0;
  width:200px;
  height: 100%;
  text-align:center;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;

}

.menu a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.menu a.active {
 background-color: #4CAF50;
 color: white;
}


.menus a:hover:not(.active) {
 background-color: #555;
 color: white;
}

.main {
  position: fixed;
  width:60%;
  padding:0 20px;
  margin-left: 200px;
  margin-top: 180px;
}


.main .count h1
{
  font-family:sans-serif;
  font-weight: lighter;
  font-size: 2vw;

}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}


.count
{
  background-color: rgba(255,255, 255, 0.5);
  text-align: center;
  margin-top: 15%;;
  margin-left: 50%;;
  margin-bottom: 15%;
  border-color: none;
  width:20vw;
  height: 32vh;
  padding: 2%;
  border-style: hidden;
}



.count a
{
  text-decoration: none;
  text-align: center;
  color:black;
  float: left;
}

.count a:hover
{
  color: red;
}

.value
{
  color: red;
  float: right;
}

.footer
{
    background-color: rgba(255, 255, 255, 0.2);
  text-align:center;
  position: fixed;
  padding:10px;
  left:0;
  bottom: 0;
  color: black;
  width:100%;


}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .right,.count {

    width:30%;
  }

  .count
  {
    margin-left: -30%;
    margin-top: 50%;
  }
}
